@model CreateItemVM

<form method="post" style="margin:30px auto; width:500px;">
    
    <div class="form-group">
        &nbsp;<label for="Category">Category</label>
        <select class="form-control" asp-for="CategoryID">
            <option value="" style="text-align:center;">----Select----</option>
            @if (Model.Categories != null)
            {
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.ID">@category.Name</option>
                }
            }

        </select>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        &nbsp;<label for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Enter item Name" style="text-align:center;">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        &nbsp;<label for="Status">Status</label>
        <input type="text" class="form-control" asp-for="Status" placeholder="...Status..." style="text-align:center;">
        <span asp-validation-for="Status"></span>
    </div>


    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <br />
    <br />
    <h4 class="text-danger">@ViewBag.ErrorMessage</h4>

</form>